.info {
    left: 54%;
    color: white;
    width: 350px;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.info h1 {
    font-size: 25pt;
    margin-bottom: -5px;
    margin-top: 15px;
}

.info h2 {
    font-size: 20pt;
    margin: 0 0;
    margin-top: 10px;
}

.info p {
    margin-top: 7px;
    font-size: 15pt;
}

