.row-block {
    width: 230px;
    height: 75px;
    border: none;
    border-left: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#table-container {
    position: absolute;
    right: 0;
    top: 24%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#table-container > .row-block:last-child {
    grid-column: 1 / -1; /* Span across all columns */
    justify-self: center; /* Horizontally center within the grid */
    margin-top: -3px;
}
